<?xml version="1.0" encoding="UTF-8"?>
<!--**********************************************************************
*
* DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
*
* Copyright 2000, 2010 Oracle and/or its affiliates.
*
* OpenOffice.org - a multi-platform office productivity suite
*
* This file is part of OpenOffice.org.
*
* OpenOffice.org is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License version 3
* only, as published by the Free Software Foundation.
*
* OpenOffice.org is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Lesser General Public License version 3 for more details
* (a copy is included in the LICENSE file that accompanied this code).
*
* You should have received a copy of the GNU Lesser General Public License
* version 3 along with OpenOffice.org.  If not, see
* <http://www.openoffice.org/license.html>
* for a copy of the LGPLv3 License.
*
**********************************************************************-->

<component loader="com.sun.star.loader.SharedLibrary" prefix="sfx"
    xmlns="http://openoffice.org/2010/uno-components">
  <implementation name="SfxDocumentMetaData">
    <service name="com.sun.star.document.DocumentProperties"/>
  </implementation>
  <implementation name="CompatWriterDocPropsImpl">
    <service name="com.sun.star.writer.DocumentProperties"/>
  </implementation>
  <implementation name="com.sun.star.comp.desktop.QuickstartWrapper">
    <service name="com.sun.star.office.Quickstart"/>
  </implementation>
  <implementation name="com.sun.star.comp.document.OwnSubFilter">
    <service name="com.sun.star.comp.document.OwnSubFilter"/>
    <service name="com.sun.star.document.OwnSubFilter"/>
  </implementation>
  <implementation name="com.sun.star.comp.embed.PackageStructureCreator">
    <service name="com.sun.star.comp.embed.PackageStructureCreator"/>
    <service name="com.sun.star.embed.PackageStructureCreator"/>
  </implementation>
  <implementation name="com.sun.star.comp.office.FrameLoader">
    <service name="com.sun.star.frame.SynchronousFrameLoader"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.AppDispatchProvider">
    <service name="com.sun.star.frame.ProtocolHandler"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.ApplicationDialogLibraryContainer">
    <service name="com.sun.star.script.ApplicationDialogLibraryContainer"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.ApplicationScriptLibraryContainer">
    <service name="com.sun.star.script.ApplicationScriptLibraryContainer"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.DocumentTemplates">
    <service name="com.sun.star.frame.DocumentTemplates"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.GlobalEventBroadcaster">
    <service name="com.sun.star.frame.GlobalEventBroadcaster"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.IFrameObject">
    <service name="com.sun.star.frame.SpecialEmbeddedObject"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.PluginObject">
    <service name="com.sun.star.frame.SpecialEmbeddedObject"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.SfxMacroLoader">
    <service name="com.sun.star.frame.ProtocolHandler"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.StandaloneDocumentInfo">
    <service name="com.sun.star.document.StandaloneDocumentInfo"/>
  </implementation>
</component>
