@namespace table url("urn:oasis:names:tc:opendocument:xmlns:table:1.0");
@namespace text url("urn:oasis:names:tc:opendocument:xmlns:text:1.0");
@namespace report url("http://openoffice.org/2005/report");

table|table {
    display: table;
}

table|table-columns {
    display: table-column-group;
}

table|table-column {
    display: table-column;
}

table|table-row {
    display: table-row;
}

table|table-cell {
    display: table-cell;
}

table|table-cell[number-columns-spanned],
table|table-cell[number-columns-spanned],
table|table-columns[number-columns-spanned],
table|table-column[number-columns-spanned] {
    -x-liblayout-colspan: attr("table|number-columns-spanned");
}

table|table-cell[number-rows-spanned],
table|table-cell[number-rows-spanned] {
    -x-liblayout-rowspan: attr("table|number-rows-spanned");
}


/**
 * Style definitions for star report.
*/
* {
    vertical-align: baseline;
}

/**
 * A standard number format declaration. The number of decimal places
 * and whether there is grouping is defined by the format string.
 *
 * The position and content of embedded text is also derived directly from
 * the given format string text.

 number
 scientific
 text
 boolean
 date
 currency
 percentage
 fraction

*/
@format number myname {
    -x-liblayout-decimal-replacement: "-";
    -x-liblayout-display-factor: 1000;
    content: "'Prefix'#,##0.00'postfix'";
}

@format scientific anothername {
    /* to be filled */
}



